

.nav-menu {
 
  position: relative;
  transition: 350ms;
 height: 100vh;
}

.nav-menu-active {
  position: relative;
  transition: 350ms;
  height: 100vh;



}

.nav-text {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  align-items: center;
  justify-content: center;

}