
.nav-menu {
  margin-left: -20%;
  position: relative;
 
  height: 100vh;
}

.nav-menu-active {
  position: relative;
  margin-left: -10%;
  height: 100vh;
  width: 15vw;

}

.nav-text{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  padding: 10px;
  font-size: 1.2rem;
}