*{
  margin: 0px;
}


.App {
  background-color: #222222;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 100px 300px 100px #9E9E9E;
  display: flex;
  flex-direction: column;
}

.App-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}


.left-header{
 margin: 15px;
 display: flex;
 margin-top: 25px;
}

.middle-header{
  display: flex;
  margin: 15px;
  flex-direction: row;
  margin-top: 25px;
}
.search-input{
  display: flex;
  background-color: #000;  
  height: 45px;
  align-items: center;
  border-radius: 15px;
 /* . background-color: #D4D4D4; */
  
}
.right-header{
  display: flex;
  margin: 15px;
  margin-right: 4em;
  margin-top: 25px;
}

img{
  background-size: contain;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
}

.hamburger-menu{
  width: 40px;
  height: 40px;
  margin: 0px 20px 0px 20px;
}

.youtube-logo{
  width: 100px;
  height: 70px;
  margin: -10px -20px 0px 10px;
}

.input-bar{
  width: 25vw;
  height: 40px;
  border: none;

  background-color: #000;
  color: white;
  border-radius: 15px;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.mic-icon{
  width: 30px;
  height: 30px;
}

.create-icon{
  width: 40px;
  height: 40px;
}

.menu-icon{
  width: 40px;
  height: 40px;
  margin: 0px 20px 0px 20px;
}

.notification-icon{
  width: 40px;
  height: 40px;
  margin: 0px 20px 0px 20px;
}

.profile-picture{
  width: 32px;
  height: 32px;
  border-radius: 50px;
}

.main-body{
  margin: 10px;
  background-color: #000;
 
  flex: 1;
  display: flex;
}


